table#list,table.list{
  font-size:50%;
  border:0;
}

table#list th, table#list td,
table.list th, table#list td{
  padding:4px;
  border:1px solid orange;
  vertical-align:middle;
}

.function div{
  min-height:0;
  font-size:80%;
}

.title{
  text-align:center;
}